#!/usr/bin/env ruby
#^syntax detection

# this is used for general cookbooks that don't have git repos clearly defined
site 'http://community.opscode.com/api/v1'

# cookbook 'chef-client'

# if fix's are required, fork from https://github.com/opscode/cookbooks,
# fix, and use that repo url in the package definition
# be nice, and submit a pull request!

cookbook 'build-essential', :git => 'https://github.com/streamlinesocial/build-essential.git'
cookbook 'iptables', '>= 0.10.0'
cookbook 'selinux', '>= 0.5.2'
cookbook 'openssl', '>= 1.0.0'
cookbook 'runit', '>= 0.15.0'
cookbook 'user'
cookbook 'git', '>= 1.0.0'
cookbook 'yum', '>= 0.6.0'

# lamp stack
cookbook 'apache2', '>= 1.0.6'
cookbook 'mysql', :git => 'https://github.com/streamlinesocial/mysql.git'
cookbook 'php', :git => 'https://github.com/streamlinesocial/php.git'

# get from git
cookbook 'sls_utils', :git => 'https://github.com/streamlinesocial/cookbook-sls_utils', :ref => 'c9d2160122888614e4d2b48b54831218ee224fd8'


